---
title: Bits
projects: ['source/content/bits/*.md']
---
<h2>{{title}}</h2>
Right now, <a href="http://github.com/justinthrelkeld" title="Oh my, it seems my bits are showing.">GitHub</a> is the best place check out <a href="http://github.com/justinthrelkeld/justinthrelkeld.github.io" title="The source code for this website (and possibly, of the Matrix itself).">my bits</a>. Coming soon, there will be stunning images showing what those lines of code look like, paragraphs explaining their purpose, and maybe even cool experiments for you to play with.</p>
<p>While you wait for my expertly crafted words, <a href="http://twitter.com/justinthrelkeld">Twitter</a> might reveal my <a href="https://twitter.com/justinthrelkeld/status/442462326806315008">secret plans</a> for world domination via HTML, CSS, Ruby, and <a href="https://twitter.com/justinthrelkeld/status/445603385585455104">JavaScript</a>.</p>
