---
title: Home
projects:
-
  title: Project 1
  image: 323.png
  description: "<p>blah <em>Lorem</em> ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, ipsa blanditiis eos repudiandae enim eius dignissimos. Debitis, eos, reiciendis cupiditate ipsam commodi magni omnis eveniet ducimus id voluptatem nesciunt dolorem.</p><p>blah <em>Lorem</em> ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, ipsa blanditiis eos repudiandae enim eius dignissimos. Debitis, eos, reiciendis cupiditate ipsam commodi magni omnis eveniet ducimus id voluptatem nesciunt dolorem.</p>"
-
  title: Project 2
  image: http://placehold.it/350
  description: "<p>blah Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, ipsa blanditiis eos repudiandae enim eius dignissimos. Debitis, eos, reiciendis cupiditate ipsam commodi magni omnis eveniet ducimus id voluptatem nesciunt dolorem.</p>"
---
<p>This page <del>was</del> <ins>wasn't</ins> created with Bootstrap. It was created with <a href="http://assemble.io">Assemble</a> and <a href="http://neat.bourbon.io">Bourbon Neat.</a></p>
<p>It's the very earliest version of my new blog. I've been using Wordpress for way too long and need to take control of my life. As a developer there is really no excuse for this to have taken so long.</p>
<p>Soon, there will be much, much more.</p>
{{> navigation}}
<div class="projects-showcase--nav navigation">
</div>
<section class="projects-showcase">
  {{#each projects}}
  <article class="projects-showcase--project">
    <figure class="project--image-wrapper__macbook">
      <div class="crop-area">
        <img src="{{image}}" alt="" />
      </div>
    </figure>
    <h3>{{title}}</h3>
    {{{description}}}
  </article>
  {{/each}}
</section>
