---
title: Home
h1: 'Look, Another GitHub Blog!'
lead: Just what the world needs
---
<div>
  <h1>{{ h1 }}</h1>
  <h2>{{ lead }}</h2>
  <p>This page <del>was</del> <ins>wasn't</ins> created with Bootstrap. It was created with <a href="http://assemble.io">Assemble</a> and <a href="http://neat.bourbon.io">Bourbon Neat.</a></p>
  <p>It's the very earliest version of my new blog. I've been using Wordpress for way too long and need to take control of my life. As a developer there is really no excuse for this to have taken so long.</p>
  <p>Soon, there will be much, much more.</p>
</div>
