---
title: Pixels
projects: ['source/content/bits/*.md']
---
<h2>{{title}}</h2>
<p>This page will soon be filled with many beautiful pixels — UI mockups, logos &amp; graphics, and photos of my slightly less digital projects.</p>

<p>In the meantime, <a href="http://instagram.com/p/lYgr5INIgh/">Instagram</a> has a way of knowing what I'm working on and often proves <a href="http://instagram.com/p/lnUgNKNIlp/">entertaining</a> (even if only to me).</p>
