<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{config.dist}}/assets/css/styles.css">
    <title>{{title}} | {{site.title}}</title>

  </head>
  <body>

    {{> navbar-fixed-top }}

    {{> body }}

  </body>
</html>
